# To customize Issuantt for your needs
# copy this file to .env or any other file as suggested
# in Vue Modes and Environment Variables
# (see https://cli.vuejs.org/guide/mode-and-env.html)

# Your custom strings
VUE_APP_CUSTOM_START_STRING="GanttStart:"
VUE_APP_CUSTOM_DUE_STRING="GanttDue:"
VUE_APP_CUSTOM_DEPENDS_ON_STRING="GanttDependsOn:"
VUE_APP_CUSTOM_PARENT_ID_STRING="GanttParentId:"
